<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Open Properties viewing provides a service. 
  Sellers to put up properties they want viewed and arrange consultations with our Property Advisors.
  And for buyers to arrange viewing appointments on properties they wish to view.
</p>
